---
import { Image } from 'astro:assets';
import BackgroundHero from '../../images/decode-berlin-2024/240426120607_munirwerner_03014.jpg';
import BackgroundHero2 from '../../images/antalya-image.jpg';
import BackgroundHero3 from '../../images/bg-hero-half.png';
---

<div class="max-w-screen-xl mx-auto px-4 mt-12 relative">
    <div class="grid md:grid-cols-2 gap-8 lg:gap-32 relative z-10">
        <div class="flex flex-col justify-center"  data-sal="slide-up" data-sal-delay="100">
            <h1 class="text-white font-bold text-4xl md:text-5xl lg:text-7xl uppercase tracking-tight">
                Travel Tech <span class="text-primary italic">Supercharged</span>
            </h1>
            <div class="md:text-lg my-4">
                Take part in the open-source hackathon where developers meet leading travel companies. Collaborate with travel companies, explore blockchain infrastructure, and solve real-world challenges. Ready to build the next travel unicorn on Camino Network? 
            </div>
            <div class="mt-4">
                <a class="font-semibold px-5 py-3 rounded-lg bg-primary hover:bg-white text-gray-950 inline-block" href="#apply">
                    Sign up now ↓
                </a>
            </div>
        </div>
        <div class="">
            <div data-sal="slide-left" data-sal-delay="300">
                <div class="border border-gray-400 w-full relative overflow-hidden rounded-2xl h-72 md:h-[360px] md:-ml-16 md:-rotate-2 transition-transform hover:rotate-0 hover:z-10 z-0 hover:scale-100 md:scale-95" style="box-shadow:0px 0px 64px rgba(0,243,177,.5);">
                    <div class="font-bold text-gray-300 absolute z-10 top-2 left-2 bg-gray-900 rounded-full px-3 py-2 text-sm">🎉 FINISHED</div>
                    <div class="absolute z-10 left-0 bottom-0 w-full bg-[#08382B]/50 backdrop-blur-xl p-4 md:p-6 flex items-center">
                        <div class="w-full">
                            <div class="font-bold text-lg md:text-2xl">w3.hub Berlin, 🇩🇪 Germany</div>
                            <div class="text-white/80">April 23-26, 2024</div>
                        </div>
                        <div>
                            <a href="/berlin2024" class="bg-white text-black whitespace-nowrap rounded-full px-4 py-3 hover:bg-primary transition-all">View recap</a>
                        </div>
                    </div>
                    <Image src={BackgroundHero} alt="Decode Travel Berlin Kickoff" class="w-full h-full object-cover absolute inset-0 z-0" />
                </div>
            </div>
            
            <div data-sal="slide-left" data-sal-delay="600">
            <div class="border border-gray-400 w-full relative overflow-hidden rounded-2xl h-72 md:h-[360px] md:rotate-2 mt-8 md:-mt-8 transition-transform hover:rotate-0 hover:z-10 z-0 hover:scale-100 md:scale-95" style="box-shadow:0px 0px 64px rgba(0,243,177,.5);">
                <div class="font-bold text-primary absolute z-10 top-2 left-2 bg-gray-900 rounded-full px-3 py-2 text-sm">👋 NEXT HACKATHON</div>
                <div class="absolute z-10 left-0 bottom-0 w-full bg-[#08382B]/50 backdrop-blur-xl p-4 md:p-6 flex items-center">
                    <div class="w-full">
                        <div class="font-bold text-lg md:text-2xl">Antalya, 🇹🇷 Turkiye</div>
                        <div class="text-white/80">November 13-15, 2024</div>
                    </div>
                    <div>
                        <a href="#apply" class="bg-white text-black whitespace-nowrap rounded-full px-4 py-3 hover:bg-primary transition-all">Sign up ↓</a>
                    </div>
                </div>
                <Image src={BackgroundHero2} alt="Decode Travel Berlin Kickoff" class="w-full h-full object-cover absolute inset-0 z-0" />
            </div>
            </div>
        </div>
    </div>
    <Image class="absolute object-contain inset-0 w-full h-full opacity-30 2xl:opacity-75" src={BackgroundHero3} alt="Background Decode Travel Logo" />
</div>