---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log("This runs in your terminal, not the browser!");
---

<!-- Below is your "component template." It's just HTML, but with
some magic sprinkled in to help you build great templates. -->
<html>
  <body class="bg-gray-950 grid place-items-center h-screen">
    <div class="text-center">
      <h1 class="text-white font-bold text-7xl mb-6">Decode Travel</h1>
      <h2 class="text-teal-400 text-2xl uppercase tracking-wider">Coming soon</h2>
    </div>
  </body>
</html>
