---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="bg-gray-950 grid place-items-center h-screen w-screen">
    <div class="text-center">
      <h1 class="text-white font-bold text-7xl mb-6 uppercase tracking-tight">
        The hackathon for <br> travel tech innovation
      </h1>
      <h2 class="text-teal-400 text-2xl uppercase tracking-wider">Coming soon</h2>
    </div>
  </div>
</BaseLayout>
