---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Content } from '../components/terms.md';
---

<BaseLayout>
    <div class="prose prose-invert max-w-screen-lg mx-auto my-8">
        <Content />
    </div>
</BaseLayout>
