---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="prose prose-invert max-w-screen-lg mx-auto my-8">

        <h1>DECODE TRAVEL HACKATHON <br> TERMS AND CONDITIONS </h1>
        <p>Last updated 03 of April 2024 </p>
        
        <h2>PLEASE READ THESE TERMS AND CONDITIONS BEFORE PARTICIPATING THE HACKATHON. </h2>
        
        <p>These terms and conditions (hereinafter, the “Terms and Conditions”) shall govern the participation in the physical hackathon “DECODE TRAVEL” planned for April 2024 (hereinafter, the “Hackathon”) as is hosted by the Organiser (as defined below). These Terms and Conditions shall have effect as of their publication of the Hackathon webpage (https://decode.travel/) (the “Website”). </p>
        
        <p>These Terms and Conditions apply to every person (“you” or the “Participant”) who registers for and/or attends the Hackathon. If you are registering on behalf of your company or another legal entity, you represent that you have the legal authority to bind that entity to these Terms and Conditions, in which case “you” will mean the entity you represent. </p>
        
        <p>YOUR PARTICIPATION IN THE HACKATHON IS ENTIRELY VOLUNTARY, BUT IF YOU DO PARTICIPATE IN THE HACKATHON, YOU MUST STRICTLY ABIDE BY THESE TERMS AND CONDITIONS. IF, AS PART OF YOUR VOLUNTARY PARTICIPATION, YOU MEET THE CRITERIA SET OUT BELOW AND ARE SELECTED AS A WINNER OF THE HACKATHON, YOU MAY BE ELIGIBLE TO RECEIVE CERTAIN PRIZES (WHERE PERMITTED BY LAW), SUBJECT TO SELECTION BY THE JUDGES. PRIZES WILL BE AWARDED AT THE SOLE DISCRETION OF THE ORGANISERS AND ARE NOT GUARANTEED.</p>
        
        <p>BY SUBMITTING YOUR REGISTRATION, you are agreeing to be bound by these Terms and Conditions. If you do not agree to these Terms and Conditions, please do not register or otherwise participate in the Hackathon. </p>
        
        <h2>1.- General information</h2>
        <p>1.1.	The Hackathon is organised by Chain4Travel AG (hereinafter, the “Organiser”).  </p>
        <p>1.2.	The Hackathon is designed to develop open-source or source available licenses applicable to new and innovative solutions to be implemented within the Camino Network (i.e., the first layer 1 built by the travel industry for the travel industry) with a focus on travel technology. The Hackathon will provide an opportunity for travel companies to meet external talent and upskill their staff as well as for interested travel and/or tech enthusiasts to tap into web technologies. </p>
        <p>1.3.	Unless explicitly indicated otherwise on the Website, the physical Hackathon will take place at w3.hub, Möckernstraße 120, 10963 Berlin (Germany) from 23 April to 26 April 2024. For more details on the timeline of the Hackathon please consult the Website. The Organiser reserves the right to change days, time and location due to technical or organizational needs by announcing such changes on the Website. </p>
        
        <h2>2.- Eligibility</h2>
        <p>2.1.	The Hackathon is free to participate in but shall be under registration and subject to the eligibility conditions detailed in section 2.</p>
        <p>2.2.	You may only participate in the Hackathon if you are over 18 years old or are the age of majority in the jurisdiction in which you reside at the time of entry in the Hackathon. </p>
        <p>If you are an employee of the Organiser or any of its subsidiaries or affiliates or an immediate family member of anyone thereof, you are eligible to participate in the Hackathon but are ineligible to win or receive prizes.</p>
        <p>2.3.	Participation in the Hackathon is intended for collaborative participation by individuals working in teams. The Participants can apply individually or in a team. You are required to nominate one member as the Team Leader. Participation by each team and individual team members is subject to these Terms and Conditions and any additional rules and guidelines provided by the Organiser.</p>
        <p>2.4.	Participants represent and warrant that the application entry does not violate any agreement or obligation to any invention assignment, proprietary information, confidentiality, non-solicitation, non-competition or similar agreement with any employer or other person. </p>
        <p>2.5.	At any time, at the sole and absolute discretion of the Organiser, the Organiser shall be entitled to disqualify a Participant in the event of failure to meet relevant eligibility criteria or any other violation or suspected violation of these Terms and Conditions. </p>
        
        <h2>3.- Procedure</h2>
        <p>3.1.	Application to the Hackathon</p>
        <p>3.1.1.	Participants wishing to participate in the Hackathon must fill out the online application form on the Website before 15 April 2024 at 12:00 am. </p>
        <p>In submitting their application, all Participants accept these Terms and Conditions and grant consent for the handling of their personal information by the Organiser.  </p>
        <p>If you register or apply as an entity or on behalf of a team, you confirm that such entity and each person in the team accepts these Terms and Conditions and you have the right to represent such entity and team for these Terms and Conditions. </p>
        <p>3.1.2.	Registration does not ensure participation in the Hackathon. All teams and individuals will receive before 16 April 2024 at 12:00 am an official confirmation of their acceptance to the Hackathon sent to the e-mail provided in the application form. </p>
        <p>3.2.	Competition mechanics</p>
        <p>3.2.1.	All confirmed Participants will be required to pre-check-in and confirm their participation in the hackathon by purchasing a free NFT on the following link by 12:00 am on 19 April 2024: https://www.visitorapp.io/de-de/deutschland/berlin/chain4travel-ag/decode-travel. This check-in link will be sent to Participants in the confirmation email (see 3.2 above). Failure to do so may result in denial of access to the Hackathon facilities and/or disqualification and/or removal from the Hackathon by the Organiser.</p>
        <p>3.2.3.	Participants will manage on their own the Hackathon tasks to be completed, deadlines and time allocation.  </p>
        <p>3.3.	A Participant may unregister from the Hackathon at any time by sending a brief e-mail notification to events@decode.com before April 15, 2024 at 12:00 am. Termination of the participation shall not affect any rights or obligations incurred before the date of termination. </p>
        <p>3.4.	Organisers must be informed of any changes made to teams and their respective members. Failure to do so may result in the inability to provide communication and instructions, delayed information, and/or disqualification from the Hackathon. </p>
        <p>3.5.	Participants will be held liable for any damage caused to people or property. </p>

        <h3>4.- Prizes </h3>
        <p>4.1.	The winners will be selected by a panel of judges. For more details on the panel of judges of the Hackathon please consult the Website.</p>
        <p>4.2.	Prizes will be communicated by the Organiser before the start of the Hackathon. </p>
        <p>4.3.	THE AWARDING OF PRIZES AS PART OF THE HACKATHON IS WITHIN THE ORGANISER’S SOLE DISCRETION AND ALL DECISIONS RELATED TO THE HACKATHON ARE FINAL AND NON-APPEALABLE.</p>
        
        <h3>5.- Intellectual Property</h3>
        <p>5.1.	You will maintain all rights, titles, and interests in and to any intellectual property you develop during the Hackathon, to the extent permitted by applicable law. You acknowledge that others attending the Hackathon, including the Organiser, may develop similar methodologies, tools, models, software, documentation, know-how, trade secrets, inventions, works of authorship, or any other form of intellectual property during or after the Hackathon, including works inspired by Hackathon projects. </p>
        <p>5.2.	Organiser maintains all rights, titles, and interests in and to his Organiser’s Intellectual Property. “Organiser Intellectual Property” means registered and non-registered proprietary methodologies, tools, models, software, documentation, know-how, trade secrets, inventions, works of authorship, or any other form of intellectual property conceived or developed by Organiser or its licensors (i) before the Hackathon, and (ii) independent of the Hackathon. </p>
        
        <h3>6.- Recording and Materials</h3>
        <p>6.1.	Each Participant hereby expressly authorizes and accepts that during the Hackathon Organiser directly or through third parties may carry out photographs, screenshots and/or video recordings containing your image, likeness or voice. </p>
        <p>6.2.	Each Participant in the Hackathon hereby:</p>
        <p>a.	freely and voluntarily transfer to Organisers, for no charge and under the broadest terms accepted by law, the right to disseminate the aforementioned images and/or recordings in internal and external news of the Organisers, including on social networks such as LinkedIn, Twitter, and the Website and/or the Organisers publications and magazines.</p>
        <p>b.	expressly waives any claim or legal action against the Organisers for the use of the images, by this authorisation.</p>
        <p>c.	ensures that, if the Participant is the representative of a legal person, the Participant has the required consent to apply these authorisations on behalf of all the people in the company that I represent who attend the event.</p>
        <p>d.	permits the publication and/or distribution of the photographs and recordings and indemnify the Organisers against any claims in this respect.</p>
        <p>6.3.	By joining the Hackathon, the Participant expressly authorises the Organiser, to publish, communicate, exhibit and disclose orally, graphically or in writing, and with no compensation involved, projects and prototypes presented during the Hackathon. The Participant agrees to be mediatised (portfolio, website, etc.) and authorises the Organiser, without expectation of any benefit, financial or otherwise, to present all the works realised, on all the communication media used in support of this Hackathon (e.g., YouTube, LinkedIn, etc.) as well as allow the use of names, first names and images of the Participant.</p>
        
        <h3>7.- Personal Data</h3>
        <p>The Organiser will collect personal data from the Participant in the application process. This data will only be used for communication by the organization relating to the Hackathon event and any event-related information and will be passed on to the organization. Participant’s information will not be sold, rented or provided to anyone but the organizations involved for commercial or marketing purposes.</p>
        
        <h3>8.- Limitation of Liability </h3>
        <p>8.1.	To the fullest extent permitted by law:</p>
        <p>a.	in no event will the Organiser be liable to you for any indirect, incidental, special, consequential or punitive damages in connection with the Hackathon, even if notified orally or in writing of the possibility of such damage; and </p>
        <p>b.	the aggregate liability of Organiser to you for all claims arising out of or relating to these Terms and Conditions, whether in contract, tort, or otherwise, is limited to the Hackathon registration fees, if any, paid by you and received by Organiser for the Hackathon giving rise to the liability. </p>
        <p>8.2.	Each provision of these Terms and Conditions that provides for a limitation of liability, disclaimer of warranties, or exclusion of damages is intended to and does allocate the risks between the parties under these Terms and Conditions. This allocation is an essential element of the basis of the bargain between the parties. Each of these provisions is severable and independent of all other provisions of these Terms and Conditions. </p>
        
        <h3>9.- Indemnification </h3>
        <p>You agree to defend, indemnify, and hold harmless the Organiser and their respective affiliates, directors, officers, employees, suppliers, vendors and agents from and against any and all claims or demands, including reasonable attorney’s fees, arising out or connected to your attendance at the Hackathon or your violation of the Terms and Conditions, applicable law, or any proprietary or privacy right of any other person attending the Hackathon. </p>
        
        <h3>10.- Force Majeure</h3>
        <p>If the Organiser is prevented from carrying out their obligations as a result of any cause beyond our control (including without limitation acts of God, changes in applicable law, war, acts of terrorism, disease or pandemic, airline flight cancellations, strikes, lock-out, or failure of third parties to deliver goods and services) we will be relieved of our obligations for as long as such cause preventing our performance persists. </p>
        
        <h3>11.- Disclaimer </h3>
        <p>The Website may contain links and references to the web pages of third parties. The Organiser shall have no liability for the content of such web pages and do not make representations about or endorse such web pages or their contents as their own, as the Organiser does not have control over the information or contents on such web pages. Neither shall the Organiser be liable for the quality, correctness or completeness of any third-party information expressly provided on the Website as third-party information, including any information supplied by any of the sales partners.</p>
        
        <h3>12.- Confidentiality</h3>
        <p>12.1.	The Participant acknowledges the confidentiality of all information and documents which have been shared with him/her throughout the Hackathon.</p>
        <p>12.2.	During the whole duration of the Hackathon, the Participant will not directly, nor indirectly use or share any information with any third party, unless s/he has obtained a written authorisation to do so, delivered by the Organiser beforehand.</p>
        <p>12.3.	This applies to information shared with him/her by the Organiser or shared with him/her indirectly upon the execution of these Terms and Conditions. The Participant commits to delivering any document containing confidential information or shared with the Participant upon the execution of these Terms and Conditions, on the Organiser’s simple request. </p>
        
        <h3>13.- Miscellaneous</h3>
        <p>13.1.	These Terms and Conditions constitute the sole and entire agreement between you and the Organiser concerning the Hackathon and supersede all prior and contemporaneous understandings, agreements, representations, and warranties, both written and oral, concerning the Hackathon.</p>
        <p>13.2.	No waiver by the Organiser of any term or condition outlined in these Terms and Conditions shall be deemed a further or continuing waiver of such term or condition or a waiver of any other term or condition, and any failure of the Organiser to assert a right or provision under these Terms and Conditions shall not constitute a waiver of such right or provision.</p>
        <p>13.3.	If any provision of these Terms and Conditions is held by a court or other tribunal of competent jurisdiction to be invalid, illegal, or unenforceable for any reason, such provision shall be eliminated or limited to the minimum extent such that the remaining provisions of the Terms and Conditions will continue in full force and effect.</p>
        <p>13.4.	These Terms and Conditions may be modified by the Organiser from time to time, such modifications to be effective upon posting by the Organiser on the Website. It is the Participant's responsibility to periodically check these Terms and Conditions for changes. Continued participation in the Hackathon and/or continued use of the Websites by the Participant following the posting of changes will imply that the Participant accepts and agrees to the changes.</p>
        
        <h3>14.- Governing Law and Jurisdiction</h3>
        <p>14.1.	All matters relating to the Hackathon and these Terms and Conditions and any dispute or claim arising therefrom or related thereto (in each case, including non-contractual disputes or claims), shall be governed by and construed under the internal laws of Switzerland without giving effect to any choice or conflict of law provision or rule (whether of Switzerland or any other jurisdiction).</p>
        <p>14.2.	Any legal suit, action, or proceeding arising out of, or related to, the Hackathon and these Terms and Conditions shall be instituted exclusively in Switzerland in the Canton of Zug although we retain the right to bring any suit, action, or proceeding against you for breach of these Terms of Use in your country of residence or any other relevant country. You waive any and all objections to the exercise of jurisdiction over you by such courts and the venue in such courts.</p>
        
    </div>
</BaseLayout>