---
---

<section class="py-8 md:py-16 xl:py-24" id="agenda">
    <div class="container">

        <div>
            <div class="font-bold uppercase  mb-4 bg-primary inline-block text-gray-950 px-3 py-2">
                //Agenda
            </div>
            <div class="font-bold uppercase text-4xl md:text-5xl lg:text-7xl tracking-tighter">
                Decode travel in 2 days
            </div>
        </div>

        <div class="grid grid-cols-3 gap-6 lg:gap-12 mt-8 relative">

            <div data-sal="fade-in" data-sal-delay="250" class="w-full h-2 bg-gradient-to-r from-gray-900 via-primary to-gray-900 absolute z-0 top-1/2 -translate-y-1"></div>

            <div
                data-sal="fade-in"
                data-sal-duration="250"
                class="bg-gradient-primary border border-gray-700 col-span-3 lg:col-span-1 bg-gray-900 rounded-xl p-8 z-10"
            >
                <div>
                    <div class="uppercase font-bold text-lg md:text-xl mb-2 text-primary">//Day Zero</div>
                    <div class="text-gray-300 mb-2 italic text-lg">April 23</div>
                    <p class="uppercase font-bold text-lg md:text-xl mb-2">
                        Kick-off
                        <ul class="list-disc list-inside mt-2">
                            <li><strong class="mr-2">14:00</strong>Kick-off at w3.hub challenge presentations, team get-together</li>
                            <li><strong class="mr-2">19:00</strong>Networking Pizza</li>
                        </ul>
                    </p>
                </div>
            </div>

            <div
                data-sal="fade-in"
                data-sal-duration="250"
                class="bg-gradient-hackerz col-span-3 lg:col-span-1 row-span-1 bg-gray-900 border-2 border-primary shadow-primary/50 shadow-2xl rounded-xl p-8 z-10"
            >
                <div>
                    <div class="uppercase font-bold text-lg md:text-xl mb-2 text-primary">//Day One</div>
                    <div class="text-gray-300 mb-2 italic text-lg">April 24</div>
                    <p class="uppercase font-bold text-lg md:text-xl mb-2">
                        Hacking
                    </p>
                    <ul class="list-disc list-inside mt-2">
                        <li><strong class="mr-2">09:00</strong>Breakfast</li>
                    </ul>
                </div>

                <div class="h-px w-full my-4 border-gray-600 border-2 border-dotted"></div>

                <div>
                    <div class="uppercase font-bold text-lg md:text-xl mb-2 text-primary">//Day Two</div>
                    <div class="text-gray-300 mb-2 italic text-lg">April 25</div>
                    <p class="uppercase font-bold text-lg md:text-xl mb-2">
                        Hacking
                    </p>
                    <ul class="list-disc list-inside mt-2">
                        <li><strong class="mr-2">09:00</strong>Breakfast</li>
                        <li><strong>19:30</strong>Pitch Deadline</li>
                        <li><strong class="mr-2">20:00</strong>Dinner</li>
                    </ul>
                </div>
            </div>

            <div
                data-sal="fade-in"
                data-sal-duration="250"
                class="bg-gradient-primary border border-gray-700 col-span-3 lg:col-span-1 bg-gray-900 rounded-xl p-8 order-last lg:-order-none z-10"
            >
                <div>
                    <div class="uppercase font-bold text-lg md:text-xl mb-2 text-primary">//Day Three</div>
                    <div class="text-gray-300 mb-2 italic text-lg">April 26</div>
                    <p class="uppercase font-bold text-lg md:text-xl mb-2">
                        Pitches
                        <ul class="list-disc list-inside mt-2">
                            <li><strong class="mr-2">09:00</strong>Breakfast</li>
                            <li><strong class="mr-2">10:00</strong>Pitch kick-off</li>
                            <li><strong class="mr-2">14:00</strong>Award cerenomy</li>
                        </ul>
                    </p>
                </div>
            </div>
    </div>
</section>