---
---

<section class="py-8 md:py-16 xl:py-24">
    <div class="container">

        <div>
            <div class="font-bold uppercase  mb-4 bg-primary inline-block text-gray-950 px-3 py-2">
                //:Agenda
            </div>
            <div class="font-bold uppercase text-4xl md:text-5xl lg:text-7xl tracking-tighter">
                Decode travel in 4 days
            </div>
        </div>

        <div class="grid grid-cols-4 grid-rows-2 gap-6 mt-8">

            <div
                data-sal="fade-in"
                data-sal-duration="250"
                class="bg-gradient-primary col-span-4 lg:col-span-1 row-span-2 bg-gray-900 rounded-xl p-8"
            >
                <div>
                    <div class="uppercase font-bold text-lg md:text-xl mb-2 text-primary">//Day Zero</div>
                    <div class="uppercase font-bold text-lg md:text-xl mb-2">April 15</div>
                    <p class="text-sm text-gray-300">
                        Application closing
                    </p>
                </div>
            </div>

            <div
                data-sal="fade-in"
                data-sal-duration="250"
                class="bg-gradient-primary col-span-4 lg:col-span-1 row-span-2 bg-gray-900 rounded-xl p-8"
            >
                <div>
                    <div class="uppercase font-bold text-lg md:text-xl mb-2 text-primary">//Day One</div>
                    <div class="uppercase font-bold text-lg md:text-xl mb-2">April 23</div>
                    <p class="text-sm text-gray-300">
                        Kick-off Decode.travel
                        <ul class="list-disc list-inside mt-2">
                            <li>Official Launch & Team Building</li>
                            <li>Beginners / Advanced - Keynotes</li>
                            <li>Challenge presentation</li>
                            <li>Pizza</li>
                        </ul>
                    </p>
                </div>
            </div>

            <div
                data-sal="fade-in"
                data-sal-duration="250"
                class="bg-gradient-primary col-span-4 lg:col-span-1 row-span-1 bg-gray-900 border border-primary shadow-primary/50 shadow-2xl rounded-xl p-8"
            >
                <div>
                    <div class="uppercase font-bold text-lg md:text-xl mb-2 text-primary">//Day Two</div>
                    <div class="uppercase font-bold text-lg md:text-xl mb-2">April 24</div>
                    <p class="text-gray-300 italic text-lg">
                        Build, Build, Build
                    </p>
                </div>
            </div>

            <div
                data-sal="fade-in"
                data-sal-duration="250"
                class="bg-gradient-primary col-span-4 lg:col-span-1 row-span-2 bg-gray-900 rounded-xl p-8 order-last lg:-order-none"
            >
                <div>
                    <div class="uppercase font-bold text-lg md:text-xl mb-2 text-primary">//Day Four</div>
                    <div class="uppercase font-bold text-lg md:text-xl mb-2">April 26</div>
                    <p class="text-sm text-gray-300">
                        Application closing
                    </p>
                </div>
            </div>

            <div
                data-sal="fade-in"
                data-sal-duration="250"
                class="bg-gradient-primary col-span-4 lg:col-span-1 row-span-1 bg-gray-900 border border-primary shadow-primary/50 shadow-2xl rounded-xl p-8"
            >
                <div>
                    <div class="uppercase font-bold text-lg md:text-xl mb-2 text-primary">//Day Three</div>
                    <div class="uppercase font-bold text-lg md:text-xl mb-2">April 25</div>
                    <p class="text-gray-300 italic text-lg">
                        Build, Build, Build
                    </p>
                </div>
            </div>
    </div>
</section>