---
---

<section class="py-8 md:py-16 xl:py-24" id="agenda">
    <div class="container">

        <div>
            <div class="font-bold uppercase  mb-4 bg-primary inline-block text-gray-950 px-3 py-2">
                //Agenda
            </div>
            <div class="font-bold uppercase text-4xl md:text-5xl lg:text-7xl tracking-tighter">
                Decode travel in 2 days
            </div>
        </div>

        <div class="grid grid-cols-3 gap-6 lg:gap-12 mt-8 relative">

            <div class="w-full h-2 bg-gradient-to-r from-gray-900 via-primary to-gray-900 absolute z-0 top-1/2 -translate-y-1"></div>

            <div
                data-sal="fade-in"
                data-sal-duration="250"
                class="bg-gradient-primary border border-gray-700 col-span-3 lg:col-span-1 bg-gray-900 rounded-xl p-8 z-10"
            >
                <div>
                    <div class="uppercase font-bold text-lg md:text-xl mb-2 text-primary">//Day Zero</div>
                    <div class="uppercase font-bold text-lg md:text-xl mb-2">April 23</div>
                    <p class="text-lg text-gray-300">
                        Kick-off Decode.travel
                        <ul class="list-disc list-inside mt-2">
                            <li>Official Launch & Team Building</li>
                            <li>Beginners / Advanced - Keynotes</li>
                            <li>Challenge presentation</li>
                            <li>Pizza</li>
                        </ul>
                    </p>
                </div>
            </div>

            <div
                data-sal="fade-in"
                data-sal-duration="250"
                class="bg-gradient-hackerz col-span-3 lg:col-span-1 row-span-1 bg-gray-900 border-2 border-primary shadow-primary/50 shadow-2xl rounded-xl p-8 z-10"
            >
                <div>
                    <div class="uppercase font-bold text-lg md:text-xl mb-2 text-primary">//Day One</div>
                    <div class="uppercase font-bold text-lg md:text-xl mb-2">April 24</div>
                    <p class="text-gray-300 italic text-lg">
                        Build, Build, Build
                    </p>
                </div>

                <div class="h-px w-full my-4 border-gray-600 border-2 border-dotted"></div>

                <div>
                    <div class="uppercase font-bold text-lg md:text-xl mb-2 text-primary">//Day Two</div>
                    <div class="uppercase font-bold text-lg md:text-xl mb-2">April 25</div>
                    <p class="text-gray-300 italic text-lg">
                        Build, Build, Build
                    </p>
                </div>
            </div>

            <div
                data-sal="fade-in"
                data-sal-duration="250"
                class="bg-gradient-primary border border-gray-700 col-span-3 lg:col-span-1 bg-gray-900 rounded-xl p-8 order-last lg:-order-none z-10"
            >
                <div>
                    <div class="uppercase font-bold text-lg md:text-xl mb-2 text-primary">//Day Three</div>
                    <div class="uppercase font-bold text-lg md:text-xl mb-2">April 26</div>
                    <p class="text-lg text-gray-300">
                        Pitch & Party
                        <ul class="list-disc list-inside mt-2">
                            <li>Live Pitches</li>
                            <li>Award Ceremony</li>
                            <li>Aftershow Party</li>
                        </ul>
                    </p>
                </div>
            </div>
    </div>
</section>