---
---

<section class="py-16 md:py-24 md:pb-40 overflow-hidden">
    <div class="container">

        <div>
            <div class="font-bold uppercase mb-4 bg-primary inline-block text-gray-950 px-5 py-3">
                //Join
            </div>
            <div class="font-bold uppercase text-4xl md:text-5xl lg:text-7xl tracking-tighter">
                Join the hackathon <br> for travel Tech innovation
            </div>
        </div>

        <div class="flex flex-wrap gap-2 mt-8 text-sm uppercase">

            <div class="bg-secondary/40 px-3 py-2 rounded-full">//Travel</div>
            <div class="bg-secondary/40 px-3 py-2 rounded-full">//Companies</div>
            <div class="bg-secondary/40 px-3 py-2 rounded-full">//ProductOwners</div>
            <div class="bg-secondary/40 px-3 py-2 rounded-full">//Devs</div>
            <div class="bg-secondary/40 px-3 py-2 rounded-full">//Universities</div>
            <div class="bg-secondary/40 px-3 py-2 rounded-full">//Students</div>
            <div class="bg-secondary/40 px-3 py-2 rounded-full">//ProjectManagers</div>
            <div class="bg-secondary/40 px-3 py-2 rounded-full">//VentureCapitals</div>
            <div class="bg-secondary/40 px-3 py-2 rounded-full">//Agencies</div>
            <div class="bg-secondary/40 px-3 py-2 rounded-full">//Startup</div>
            <div class="bg-secondary/40 px-3 py-2 rounded-full">//BlockchainFans</div>

        </div>

        <div id="apply" data-tf-widget="cUUXdqmz" data-tf-opacity="100" data-tf-iframe-props="title=Decode.travel - Register Now" data-tf-transitive-search-params data-tf-medium="snippet" style="width:100%;" class="h-[700px] border-2 border-primary mt-12 rounded-xl"></div>
        <script defer is:inline src="//embed.typeform.com/next/embed.js"></script>
    </div>
    
</section>