---
import { Icon } from 'astro-icon'
---

<section class="py-16 md:py-24 md:pb-40 overflow-hidden">
    <div class="container">

        <div>
            <div class="font-bold uppercase mb-4 bg-primary inline-block text-gray-950 px-5 py-3">
                //Join
            </div>
            <div class="font-bold uppercase text-4xl md:text-5xl lg:text-7xl tracking-tighter">
                Join the hackathon <br> for travel Tech innovation
            </div>
        </div>

        <div class="flex flex-wrap gap-3 lg:gap-4 mt-8 font-medium text-base lg:text-2xl uppercase">

            <div class="bg-secondary/30 px-4 lg:px-5 py-3 rounded">//Travel</div>
            <div class="bg-secondary/30 px-4 lg:px-5 py-3 rounded">//Companies</div>
            <div class="bg-secondary/30 px-4 lg:px-5 py-3 rounded">//ProductOwners</div>
            <div class="bg-secondary/30 px-4 lg:px-5 py-3 rounded">//Devs</div>
            <div class="bg-secondary/30 px-4 lg:px-5 py-3 rounded">//Universities</div>
            <div class="bg-secondary/30 px-4 lg:px-5 py-3 rounded">//Students</div>
            <div class="bg-secondary/30 px-4 lg:px-5 py-3 rounded">//ProjectManagers</div>
            <div class="bg-secondary/30 px-4 lg:px-5 py-3 rounded">//VentureCapitals</div>
            <div class="bg-secondary/30 px-4 lg:px-5 py-3 rounded">//Agencies</div>
            <div class="bg-secondary/30 px-4 lg:px-5 py-3 rounded">//Startup</div>
            <div class="bg-secondary/30 px-4 lg:px-5 py-3 rounded">//Maker</div>
            <div class="bg-secondary/30 px-4 lg:px-5 py-3 rounded">//BlockchainFans</div>
            <div class="bg-secondary/30 px-4 lg:px-5 py-3 rounded">//Thinker</div>
            <a class="font-bold px-5 py-3 rounded bg-primary hover:bg-white text-gray-950 inline-block" href="https://9gp400vrnwo.typeform.com/decode-travel" target="_blank" rel="noopener noreferrer">Join now</a>

        </div>

    </div>
</section>