---
import { Icon } from 'astro-icon'
---

<section class="py-8 md:py-16 overflow-hidden">
    <div class="container">

        <div>
            <div class="font-bold uppercase  mb-4 bg-primary inline-block text-gray-950 px-3 py-2">
                //:Join
            </div>
            <div class="font-bold uppercase text-4xl md:text-5xl lg:text-7xl tracking-tighter">
                Join the hackathon <br> for travel Tech innovation
            </div>
        </div>

        <div class="grid grid-cols-2 gap-6 mt-8">

            <div data-sal="slide-right" data-sal-delay="500" data-sal-duration="500" class="col-span-2 lg:col-span-1 p-6 md:p-8 bg-gray-900 rounded-2xl bg-gradient-company">
                <header class="mb-8">
                    <div class="font-bold text-xl md:text-2xl uppercase mb-2">Travel Companies</div>
                    <div class="text-sm text-gray-400">Stay ahead in the dynamic travel industry</div>
                </header>

                <p class="text-gray-300 mb-6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus quibusdam quisquam harum animi reprehenderit corrupti quo sapiente fugiat vitae ratione doloribus neque beatae, necessitatibus, non fugit ad, assumenda officia. Et quod consectetur obcaecati perferendis explicabo dolorem sequi veniam provident maxime eaque asperiores sapiente repellat iure beatae sunt atque, dicta quo rem nesciunt molestiae soluta nostrum iste? Ad fugiat aut sequi suscipit enim vero similique consequatur itaque quaerat?</p>

                <a href="#" class="inline-block text-center bg-company font-bold px-3 py-4 rounded w-full">Submit a Challenge</a>
                
            </div>
            <div data-sal="slide-left" data-sal-delay="500" data-sal-duration="500" class="col-span-2 lg:col-span-1 p-6 md:p-8 bg-gray-900 rounded-2xl bg-gradient-decoder">
                <header class="mb-8">
                    <div class="font-bold text-xl md:text-2xl uppercase mb-2">Decoders</div>
                    <div class="text-sm text-gray-400">Stay ahead in the dynamic travel industry</div>
                </header>    

                <p class="text-gray-300 mb-6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus quibusdam quisquam harum animi reprehenderit corrupti quo sapiente fugiat vitae ratione doloribus neque beatae, necessitatibus, non fugit ad, assumenda officia. Et quod consectetur obcaecati perferendis explicabo dolorem sequi veniam provident maxime eaque asperiores sapiente repellat iure beatae sunt atque, dicta quo rem nesciunt molestiae soluta nostrum iste? Ad fugiat aut sequi suscipit enim vero similique consequatur itaque quaerat?</p>

                <a href="#" class="inline-block text-center bg-decoder font-bold px-3 py-4 rounded w-full">Apply as a “Decoder”</a>
                
            </div>

        </div>

    </div>
</section>