<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Decode Travel</title>
<meta name="description" content="Take part in the open hackathon where developers meet leading travel companies.">

<link rel="shortcut icon" href="/favicon.svg" type="image/x-icon">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://decode.travel/">
<meta property="og:type" content="website">
<meta property="og:title" content="Decode Travel">
<meta property="og:description" content="The hackathon for travel tech innovation">
<meta property="og:image" content="/social-image.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="decode.travel">
<meta property="twitter:url" content="https://decode.travel/">
<meta name="twitter:title" content="Decode Travel">
<meta name="twitter:description" content="The hackathon for travel tech innovation">
<meta name="twitter:image" content="/social-image.png">

<!-- Inter font -->
<link rel="preconnect" href="https://rsms.me/" />
<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

<!-- Alpine.js -->
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

<!-- Sal.js -->
<script defer src="https://cdn.jsdelivr.net/npm/sal.js@0.8.5/dist/sal.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sal.js@0.8.5/dist/sal.min.css">

<!-- Google tag (gtag.js) -->
<script type="text/plain" data-category="analytics" async src="https://www.googletagmanager.com/gtag/js?id=G-4KLX5TH27Y"></script>
<script type="text/plain" data-category="analytics">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-4KLX5TH27Y');
</script>