---
---

<section class="py-8 md:py-16">
    <div class="container">

        <div class="text-left">
            <div class="font-bold uppercase text-teal-400 mb-4 bg-primary inline-block text-gray-950 px-3 py-2">//:Challenges</div>
            <div class="font-bold uppercase text-8xl tracking-tighter mb-4">Playground for <br> Innovation</div>
            <p class="text-sm text-gray-300">Tackle travel’s pain points without boundaries of legacy systems. Foster digital innovation with web3 technologies. </p>
        </div>

        <div class="grid grid-cols-6 grid-rows-6 gap-6  mt-8">
            <div class="bg-gradient-primary col-span-2 row-span-4 bg-gray-900 rounded-xl pt-20 p-6 flex items-end">
                <div>
                    <div class="font-bold mb-1">Loyalty</div>
                    <p class="text-sm text-gray-300">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error dolorum aliquam quis.</p>
                </div>
            </div>
            <div class="bg-gradient-primary col-span-2 row-span-2 bg-gray-900 rounded-xl pt-20 p-6 flex items-end">
                <div>
                    <div class="font-bold mb-1">Loyalty</div>
                    <p class="text-sm text-gray-300">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error dolorum aliquam quis.</p>
                </div>
            </div>
            <div class="bg-gradient-primary col-span-2 row-span-4 bg-gray-900 rounded-xl pt-20 p-6 flex items-end">
                <div>
                    <div class="font-bold mb-1">Loyalty</div>
                    <p class="text-sm text-gray-300">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error dolorum aliquam quis.</p>
                </div>
            </div>
            <div class="bg-gradient-primary col-span-2 row-span-2 bg-gray-900 rounded-xl pt-20 p-6 flex items-end">
                <div>
                    <div class="font-bold mb-1">Loyalty</div>
                    <p class="text-sm text-gray-300">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error dolorum aliquam quis.</p>
                </div>
            </div>
            <div class="bg-gradient-primary col-span-4 row-span-3 bg-gray-900 rounded-xl pt-20 p-6 flex items-end">
                <div>
                    <div class="font-bold mb-1">Loyalty</div>
                    <p class="text-sm text-gray-300">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error dolorum aliquam quis.</p>
                </div>
            </div>
            <div class="bg-gradient-primary col-span-1 row-span-3 bg-gray-900 rounded-xl pt-20 p-6 flex items-end">
                <div>
                    <div class="font-bold mb-1">Loyalty</div>
                    <p class="text-sm text-gray-300">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error dolorum aliquam quis.</p>
                </div>
            </div>
            <div class="bg-gradient-primary col-span-1 row-span-3 bg-gray-900 rounded-xl pt-20 p-6 flex items-end">
                <div>
                    <div class="font-bold mb-1">Loyalty</div>
                    <p class="text-sm text-gray-300">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error dolorum aliquam quis.</p>
                </div>
            </div>
        </div>
    </div>
</section>