<!-- Cookie Consent by TermsFeed https://www.TermsFeed.com -->
<script
  type="text/javascript"
  src="https://www.termsfeed.com/public/cookie-consent/4.1.0/cookie-consent.js"
  charset="UTF-8"></script>
<script type="text/javascript" charset="UTF-8">
  document.addEventListener("DOMContentLoaded", function () {
    cookieconsent.run({
      notice_banner_type: "simple",
      consent_type: "express",
      palette: "dark",
      language: "en",
      page_load_consent_levels: ["strictly-necessary"],
      notice_banner_reject_button_hide: false,
      preferences_center_close_button_hide: false,
      page_refresh_confirmation_buttons: false,
      website_name: "Decode.Travel",
    });
  });
</script>

<!-- Google Analytics -->
<script
  type="text/plain"
  data-cookie-consent="tracking"
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-4KLX5TH27Y"></script>
<script type="text/plain" data-cookie-consent="tracking">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-4KLX5TH27Y");
</script>
<!-- end of Google Analytics-->
<noscript
  >Free cookie consent management tool by <a href="https://www.termsfeed.com/"
    >TermsFeed</a
  ></noscript
>
<!-- End Cookie Consent by TermsFeed https://www.TermsFeed.com -->

<!-- Below is the link that users can use to open Preferences Center to change their preferences. Do not modify the ID parameter. Place it where appropriate, style it as needed. -->
<a href="#" id="open_preferences_center">Update cookies preferences</a>

<style is:global>
/* COOKIE BANNER */

.termsfeed-com---palette-dark.termsfeed-com---nb {
  @apply bg-gray-900 rounded-2xl !important;
}

.cc-nb-main-container {
  @apply p-6 md:p-8 !important;
}

.termsfeed-com---palette-dark .cc-nb-title {
  @apply font-semibold text-lg md:text-xl mb-2 text-white !important;
}

.termsfeed-com---palette-dark .cc-nb-text {
  @apply text-xs md:text-sm text-gray-300 !important;
}

.termsfeed-com---nb .cc-nb-okagree, .termsfeed-com---nb .cc-nb-reject, .termsfeed-com---nb .cc-nb-changep {
  @apply py-3 px-5 rounded-xl !important;
}

.termsfeed-com---palette-dark .cc-nb-okagree {
  @apply bg-primary text-gray-950 w-full !important;
}

.termsfeed-com---palette-dark .cc-nb-reject {
  @apply hidden !important;
}

.termsfeed-com---palette-dark .cc-nb-changep {
  @apply bg-white/10 text-gray-300 w-full mt-2 !important;
}

.termsfeed-com---nb-simple {
  @apply max-w-[400px] !important;
}

.cc-pc-container {
  @apply rounded-2xl overflow-hidden !important
}

.cc-pc-head,
.cc-cp-body-tabs,
.cc-cp-foot {
  @apply bg-gray-800 !important;
}

.cc-pc-container,
.cc-cp-body,
.termsfeed-com---palette-dark .cc-cp-body .cc-cp-body-content {
  @apply bg-gray-900 !important;
}

.termsfeed-com---palette-dark .cc-cp-body-tabs .cc-cp-body-tabs-item {
  @apply bg-gray-800 border-gray-700 !important;
}

.termsfeed-com---palette-dark .cc-cp-body-tabs .cc-cp-body-tabs-item[active="true"] {
  @apply bg-primary !important;
}

.termsfeed-com---palette-dark .cc-cp-body-tabs .cc-cp-body-tabs-item:not([active="true"]) .cc-cp-body-tabs-item-link {
  @apply text-gray-400 !important
}

.termsfeed-com---palette-dark .cc-cp-foot-save,
.termsfeed-com---palette-dark .cc-cp-body-tabs-item[active="true"] button {
  @apply bg-primary text-gray-950 !important
}

</style>