---
import { Image } from 'astro:assets';
import DecodeLogo from '../images/decode-logo-center.png';
---

<footer class="w-full bg-gradient-to-b from-gray-950 to-primary/25" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="py-16 lg:py-24 container sm:px-6 lg:px-16">
      <div class="flex flex-col items-baseline space-y-6">
        <div class="mx-auto">
            <a href="/">
                <Image class="w-auto h-8" src={DecodeLogo} alt="Decode Travel Logo"/>
            </a>
        </div>
        <div class="mx-auto">
          <div class="mx-auto mt-2 text-sm text-white/80 text-center">
            <a href="https://x.com/decodetravel" class="font-bold px-4 py-3 rounded bg-primary text-gray-950 inline-block mb-6" target="_blank" rel="noopener noreferrer">Follow us on X</a>
            <div>
              w3.hub - Möckernstraße 120, 10963 Berlin - <a href="https://maps.app.goo.gl/UhWpUeuFDtJ3BTQw6" class="hover:underline" target="_blank" rel="noopener noreferrer">Open in Google Maps</a> <br><br>
            </div>
            <a href="/imprint" class="text-white hover:underline" rel="noopener noreferrer">Imprint</a> - 
            <a href="#" id="open_preferences_center">Cookie preferences</a>
            - Copyright © 2024
          </div>
        </div>
      </div>
    </div>
  </footer>
