---
import { Image } from 'astro:assets';
import DecodeLogo from '../images/decode-logo-left.png';
---

<header class="py-6 border-b border-gray-800 bg-gray-950 relative z-50" x-data="{ menuOpen: false }">
    <div class="container flex justify-between items-center">

        <a href="/">
            <Image class="w-auto h-8" src={DecodeLogo} alt="Decode Travel Logo"/>
        </a>

        <div class="w-12 h-12 flex items-center justify-center hover:text-white" @click="menuOpen = !menuOpen" tabindex="0">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path fill="currentColor" d="M3 6h18v2H3V6zm0 5h18v2H3v-2zm0 5h18v2H3v-2z"/>
            </svg>
        </div>

        <nav
            class="uppercase text-sm absolute bg-gray-950 top-0"
            x-cloak
            x-show="menuOpen"
            x-transition.duration.250ms
            @click.away="menuOpen = false"
        >
            <a class="inline-block px-3 py-2 hover:text-teal-400 rounded" href="#">About</a>
            <a class="inline-block px-3 py-2 hover:text-teal-400 rounded" href="#">Agenda</a>
            <a class="inline-block px-3 py-2 hover:text-teal-400 rounded" href="#">Challenges</a>
            <a class="inline-block px-3 py-2 hover:text-teal-400 rounded" href="#">Partners</a>
            <a class="inline-block px-3 py-2 bg-primary text-gray-950 rounded" href="#">Join now</a>
        </nav>
    </div>
</header>