---
import { Image } from 'astro:assets';
import BackgroundHero from '../images/bg-hero.png';
---

<div class="py-24 md:py-0 relative container overflow-hidden grid place-items-center md:h-[80vh]">

    <Image class="animate-pulse absolute w-full h-full object-contain inset-0" src={BackgroundHero} alt="Background Decode Travel Logo" />

            <div data-sal="slide-up" data-sal-delay="100" data-sal-duration="500" class="relative text-center flex flex-col items-center z-20">
                <div class="font-bold uppercase text-teal-400 mb-4 bg-primary inline-block text-gray-950 px-3 py-2">
                    &lt; Call for applications /&gt;
                </div>
                <h1 class="text-white font-bold text-4xl md:text-6xl 2xl:text-8xl my-3 md:my-6 uppercase tracking-tighter">
                    The hackathon for <br class="hidden md:block"> travel tech innovation
                </h1>
                <div class="flex items-center gap-6 mb-4">
                    <div><span class="font-bold text-primary">//DATE:</span> April 22-25, 2024</div>
                    <div><span class="font-bold text-primary">//LOCATION:</span> Frankfurt, Germany</div>
                </div>
                <div class="text-gray-300 text-base md:text-2xl max-w-lg">
                    Take part in the open hackathon where developers meet leading travel companies.
                </div>
            </div>

</div>