---
import { Image } from 'astro:assets';
import HexensTechPartner from '../images/hexens-tech-partner.png'
---

<section class="py-8 md:py-16 xl:py-24" id="tech-partner">
    <div class="container">

        <div class="md:grid grid-cols-2 gap-4 xl:gap-6 2xl:gap-16 items-center">
            <div class="order-first md:order-last mb-6 md:mb-0">
                <Image class="rounded-2xl border border-gray-700 h-32 md:h-auto object-cover" src={HexensTechPartner} alt="Hexens Abstract Background"/>
            </div>
            <div>
                <div class="font-bold uppercase  mb-4 bg-primary inline-block text-gray-950 px-3 py-2">
                    //Tech Partners
                </div>
                <div class="font-bold uppercase text-2xl md:text-3xl lg:text-5xl tracking-tighter">
                    Remedy by Hexens. 360ยบ cybersecurity platform
                </div>
                <p class="lg:text-lg text-gray-300 font-normal my-6">
                    Hexens supports Decode Travel through its web3 security ecosystem Remedy by providing free access to all participants. Remedy is a one-stop shop for cutting-edge technologies purpose-built to empower the complete security lifecycle of Web3 projects. Remedy includes: bug bounty program, ZK Storage and Glider - ultimate query engine scanning deployed smart contracts across all EVM chains.
                </p>
                <a class="font-semibold px-5 py-3 rounded-lg bg-primary text-gray-950 inline-block" href="https://r.xyz/" target="_blank" rel="noopener noreferrer">Explore Remedy</a>
            </div>
        </div>
        <div>

        </div>

    </div>
</section>