---
import { Image } from 'astro:assets';
import HexensTechPartner from '../images/hexens-tech-partner.png'
---

<section class="py-8 md:py-16 xl:py-24" id="tech-partner">
    <div class="container">

        <div class="lg:grid grid-cols-2 gap-4 xl:gap-6 2xl:gap-16 mt-8 relative">
            <div>
                <div class="font-bold uppercase  mb-4 bg-primary inline-block text-gray-950 px-3 py-2">
                    //Tech Partners
                </div>
                <div class="font-bold uppercase text-3xl md:text-4xl lg:text-6xl tracking-tighter">
                    Remedy by Hexens, the unified security platform
                </div>
                <p class="text-lg text-gray-300 font-normal my-6">Hexens supports Decode Travel through its web3 security ecosystem Remedy by providing free access to all participants. With Remedy, they unite in one place the best technology, flawless processes, and a huge amount of game-changing features that not only cover all Web3 security shortcomings, but ultimately make the industry scalable. We will be one of the first to have access to this unique technology, ensuring the cybersecurity lifecycle of all Decode projects.</p>
                <a class="font-semibold px-5 py-3 rounded-lg bg-primary text-gray-950 inline-block" href="https://r.xyz/" target="_blank" rel="noopener noreferrer">Explore Remedy</a>
            </div>
            <div>
                <Image class="rounded-2xl border border-gray-700" src={HexensTechPartner} alt="Hexens Abstract Background"/>
            </div>
        </div>
        <div>

        </div>

    </div>
</section>