---
import { Image } from 'astro:assets';
import Chain4Travel from '../images/logo-chain4travel.png'
import CompanionD from '../images/logo-companion.png'
import YourInsight from '../images/logo-yourinsight.png'
---

<div class="text-center py-24 lg:py-40 flex flex-col items-center justify-center mb-24 bg-gradient-to-b from-gray-950 to-primary/25" id="partners">
    <div data-sal="slide-up" data-sal-delay="100" data-sal-duration="500" class="container text-center flex flex-col items-center z-20">
        <div class="font-bold uppercase  mb-4 bg-primary inline-block text-gray-950 px-3 py-2">
            //Partners & Sponsors
        </div>
        <div class="text-white font-bold text-4xl md:text-6xl mt-6 mb-12 uppercase tracking-tighter">
            Join the hackathon for <br> travel Tech innovation
        </div>
        <div class="flex flex-col lg:flex-row items-center gap-4 lg:gap-12">
            <Image class="h-8 lg:h-10 w-auto" src={Chain4Travel} alt="Decode Travel Logo"/>
            <Image class="h-6 lg:h-8 w-auto" src={CompanionD} alt="Decode Travel Logo"/>
            <Image class="h-9 lg:h-11 w-auto" src={YourInsight} alt="Decode Travel Logo"/>
        </div>
    </div>
</div>