---
---

<div class="text-center py-40 border-y border-gray-800 flex flex-col items-center justify-center mb-24" style="background: url(/images/bg-logo-center.png) center no-repeat;">
    <div data-sal="slide-up" data-sal-delay="100" data-sal-duration="500" class="text-center flex flex-col items-center z-20">
        <div class="font-bold uppercase text-teal-400 mb-4 bg-primary inline-block text-gray-950 px-3 py-2">
            dt.Partners + dt.Sponsors
        </div>
        <div class="text-white font-bold text-4xl md:text-6xl my-6 uppercase tracking-tighter">
            Join the hackathon for <br> travel Tech innovation
        </div>
    </div>
</div>