---
import { Icon } from 'astro-icon/components'
---

<section class="py-8 md:py-16 overflow-hidden" id="why">
    <div class="container">

        <div>
            <div class="font-bold uppercase mb-4 bg-primary inline-block text-gray-950 px-3 py-2">
                //Why attend
            </div>
            <div class="font-bold uppercase text-4xl md:text-5xl lg:text-7xl tracking-tighter">
                5 reasons why <br> to participate
            </div>
        </div>

        <div class="grid grid-cols-2 gap-6 mt-8">

            <div class="col-span-2 lg:col-span-1 p-6 md:p-8 bg-gray-900 rounded-2xl bg-gradient-company">
                <header class="mb-8">
                    <div class="font-bold text-xl md:text-3xl tracking-tight uppercase mb-2">Travel Companies</div>
                    <div class="text-white/75 text-lg">Stay ahead in the dynamic travel industry</div>
                </header>    
                <div class="flex items-start gap-4 mb-6" data-sal="slide-left">
                    <div class="bg-gray-800 p-3 rounded-xl size-12 flex items-center justify-center">
                        <Icon name="pixelarticons:drop-area" class="size-10" />
                    </div>
                    <div>
                        <div class="font-bold text-lg -mt-1 mb-0.5">Playground for innovation</div>
                        <div class="text-gray-300 text-sm">At Decode, you'll find a canvas of limitless possibilities. Your challenges can be as creative and ambitious as you imagine.</div>
                    </div>
                </div>      
                <div class="flex items-start gap-4 mb-6" data-sal="slide-left">
                    <div class="bg-gray-800 p-3 rounded-xl size-12 flex items-center justify-center">
                        <Icon name="pixelarticons:human-handsup" class="size-10" />
                    </div>
                    <div>
                        <div class="font-bold text-lg -mt-1 mb-0.5">Team Spirit & Knowledge Boost</div>
                        <div class="text-gray-300 text-sm">Collaborating on challenges will foster teamwork, and lets your in-house developers tap into web3 technologies.</div>
                    </div>
                </div>    
                <div class="flex items-start gap-4 mb-6" data-sal="slide-left">
                    <div class="bg-gray-800 p-3 rounded-xl size-12 flex items-center justify-center">
                        <Icon name="pixelarticons:zoom-in" class="size-10" />
                    </div>
                    <div>
                        <div class="font-bold text-lg -mt-1 mb-0.5">Fresh Insights</div>
                        <div class="text-gray-300 text-sm">Gain fresh perspectives and innovative ideas from external participants competing in your challenge. </div>
                    </div>
                </div> 
                <div class="flex items-start gap-4 mb-6" data-sal="slide-left">
                    <div class="bg-gray-800 p-3 rounded-xl size-12 flex items-center justify-center">
                        <Icon name="pixelarticons:speed-fast" class="size-10" />
                    </div>
                    <div>
                        <div class="font-bold text-lg -mt-1 mb-0.5">Rapid Turnaround</div>
                        <div class="text-gray-300 text-sm">In just a few days, you'll see innovative solutions emerge. Decode's fast-paced environment allows for quick results and immediate implementation.</div>
                    </div>
                </div>   
                <div class="flex items-start gap-4 mb-6" data-sal="slide-left">
                    <div class="bg-gray-800 p-3 rounded-xl size-12 flex items-center justify-center">
                        <Icon name="pixelarticons:image-new" class="size-10" />
                    </div>
                    <div>
                        <div class="font-bold text-lg -mt-1 mb-0.5">Effective Marketing</div>
                        <div class="text-gray-300 text-sm">Participating in Decode allows you to showcase your brand's commitment to innovation and growth.</div>
                    </div>
                </div>
            </div>
            <div class="col-span-2 lg:col-span-1 p-6 md:p-8 bg-gray-900 rounded-2xl bg-gradient-decoder">
                <header class="mb-8">
                    <div class="font-bold text-xl md:text-3xl tracking-tight uppercase mb-2">Decoders</div>
                    <div class="text-white/75 text-lg">Embark on a web3 travel tech journey.</div>
                </header>    
                <div class="flex items-start gap-4 mb-6" data-sal="slide-left">
                    <div class="bg-gray-800 p-3 rounded-xl size-12 flex items-center justify-center">
                        <Icon name="pixelarticons:trophy" class="size-10" />
                    </div>
                    <div>
                        <div class="font-bold text-lg -mt-1 mb-0.5">Playground for innovation</div>
                        <div class="text-gray-300 text-sm">At Decode, you have the chance to win great prizes. Your skills and dedication could be rewarded generously.</div>
                    </div>
                </div>    
                <div class="flex items-start gap-4 mb-6" data-sal="slide-left">
                    <div class="bg-gray-800 p-3 rounded-xl size-12 flex items-center justify-center">
                        <Icon name="pixelarticons:eye" class="size-10" />
                    </div>
                    <div>
                        <div class="font-bold text-lg -mt-1 mb-0.5">Visibility</div>
                        <div class="text-gray-300 text-sm">Be seen by leading travel companies who may even consider you for employment. Your participation could lead to exciting career opportunities.</div>
                    </div>
                </div>    
                <div class="flex items-start gap-4 mb-6" data-sal="slide-left">
                    <div class="bg-gray-800 p-3 rounded-xl size-12 flex items-center justify-center">
                        <Icon name="pixelarticons:zap" class="size-10" />
                    </div>
                    <div>
                        <div class="font-bold text-lg -mt-1 mb-0.5">For the Experience</div>
                        <div class="text-gray-300 text-sm">Decode is more than a contest; it's an experience. Work with diverse teams on real-world challenges and sharpen your skills while making a tangible impact.</div>
                    </div>
                </div>   
                <div class="flex items-start gap-4 mb-6" data-sal="slide-left">
                    <div class="bg-gray-800 p-3 rounded-xl size-12 flex items-center justify-center">
                        <Icon name="pixelarticons:wallet" class="size-10" />
                    </div>
                    <div>
                        <div class="font-bold text-lg -mt-1 mb-0.5">Real-World Solutions</div>
                        <div class="text-gray-300 text-sm">Your solutions have the potential to add real value to the travel industry. Your work can lead to improvements and innovations that matter.</div>
                    </div>
                </div>   
                <div class="flex items-start gap-4 mb-6" data-sal="slide-left">
                    <div class="bg-gray-800 p-3 rounded-xl size-12 flex items-center justify-center">
                        <Icon name="pixelarticons:teach" class="size-10" />
                    </div>
                    <div>
                        <div class="font-bold text-lg -mt-1 mb-0.5">Learning Opportunities</div>
                        <div class="text-gray-300 text-sm">Engage with experts, acquire new skills and gain hands-on experience in emerging web3 technologies and travel tech.</div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>