---
import { Icon } from 'astro-icon'
---

<section class="py-8 md:py-16">
    <div class="container">

        <div class="uppercase text-center font-bold">
            <div class="text-teal-400 mb-4">//Why attend</div>
            <div class="text-4xl">5 reasons why</div>
        </div>

        <div class="grid grid-cols-2 gap-6 mt-8">

            <div data-sal="slide-right" data-sal-duration="500" class="col-span-1 p-8 border border-gray-700 rounded-2xl bg-travelr">
                <header class="mb-8">
                    <div class="font-bold text-2xl uppercase mb-2">Travel Companies</div>
                    <div class="text-gray-400">Stay ahead in the dynamic travel industry</div>
                </header>    
                <div class="flex items-start gap-4 mb-6">
                    <div class="border border-gray-800 p-3 rounded-full">
                        <Icon name="pixelarticons:file" class="w-8" />
                    </div>
                    <div>
                        <div class="font-bold mb-2">Playground for innovation</div>
                        <div class="text-gray-300 text-sm">At Decode, you'll find a canvas of limitless possibilities. Your challenges can be as creative and ambitious as you imagine.</div>
                    </div>
                </div>      
                <div class="flex items-start gap-4 mb-6">
                    <div class="border border-gray-800 p-3 rounded-full">
                        <Icon name="pixelarticons:file" class="w-8" />
                    </div>
                    <div>
                        <div class="font-bold mb-2">Playground for innovation</div>
                        <div class="text-gray-300 text-sm">At Decode, you'll find a canvas of limitless possibilities. Your challenges can be as creative and ambitious as you imagine.</div>
                    </div>
                </div>    
                <div class="flex items-start gap-4 mb-6">
                    <div class="border border-gray-800 p-3 rounded-full">
                        <Icon name="pixelarticons:file" class="w-8" />
                    </div>
                    <div>
                        <div class="font-bold mb-2">Playground for innovation</div>
                        <div class="text-gray-300 text-sm">At Decode, you'll find a canvas of limitless possibilities. Your challenges can be as creative and ambitious as you imagine.</div>
                    </div>
                </div> 
                <div class="flex items-start gap-4 mb-6">
                    <div class="border border-gray-800 p-3 rounded-full">
                        <Icon name="pixelarticons:file" class="w-8" />
                    </div>
                    <div>
                        <div class="font-bold mb-2">Playground for innovation</div>
                        <div class="text-gray-300 text-sm">At Decode, you'll find a canvas of limitless possibilities. Your challenges can be as creative and ambitious as you imagine.</div>
                    </div>
                </div>   
                <div class="flex items-start gap-4 mb-6">
                    <div class="border border-gray-800 p-3 rounded-full">
                        <Icon name="pixelarticons:file" class="w-8" />
                    </div>
                    <div>
                        <div class="font-bold mb-2">Playground for innovation</div>
                        <div class="text-gray-300 text-sm">At Decode, you'll find a canvas of limitless possibilities. Your challenges can be as creative and ambitious as you imagine.</div>
                    </div>
                </div>
            </div>
            <div data-sal="slide-left" data-sal-delay="500" data-sal-duration="500" class="col-span-1 p-8 border border-gray-700 rounded-2xl bg-decoder">
                <header class="mb-8">
                    <div class="font-bold text-2xl uppercase mb-2">Travel Companies</div>
                    <div class="text-gray-400">Stay ahead in the dynamic travel industry</div>
                </header>    
                <div class="flex items-start gap-4 mb-6">
                    <div class="border border-gray-800 p-3 rounded-full">
                        <Icon name="pixelarticons:mail" class="w-8" />
                    </div>
                    <div>
                        <div class="font-bold mb-2">Playground for innovation</div>
                        <div class="text-gray-300 text-sm">At Decode, you'll find a canvas of limitless possibilities. Your challenges can be as creative and ambitious as you imagine.</div>
                    </div>
                </div>    
                <div class="flex items-start gap-4 mb-6">
                    <div class="border border-gray-800 p-3 rounded-full">
                        <Icon name="pixelarticons:mail" class="w-8" />
                    </div>
                    <div>
                        <div class="font-bold mb-2">Playground for innovation</div>
                        <div class="text-gray-300 text-sm">At Decode, you'll find a canvas of limitless possibilities. Your challenges can be as creative and ambitious as you imagine.</div>
                    </div>
                </div>    
                <div class="flex items-start gap-4 mb-6">
                    <div class="border border-gray-800 p-3 rounded-full">
                        <Icon name="pixelarticons:mail" class="w-8" />
                    </div>
                    <div>
                        <div class="font-bold mb-2">Playground for innovation</div>
                        <div class="text-gray-300 text-sm">At Decode, you'll find a canvas of limitless possibilities. Your challenges can be as creative and ambitious as you imagine.</div>
                    </div>
                </div>   
                <div class="flex items-start gap-4 mb-6">
                    <div class="border border-gray-800 p-3 rounded-full">
                        <Icon name="pixelarticons:mail" class="w-8" />
                    </div>
                    <div>
                        <div class="font-bold mb-2">Playground for innovation</div>
                        <div class="text-gray-300 text-sm">At Decode, you'll find a canvas of limitless possibilities. Your challenges can be as creative and ambitious as you imagine.</div>
                    </div>
                </div>   
                <div class="flex items-start gap-4 mb-6">
                    <div class="border border-gray-800 p-3 rounded-full">
                        <Icon name="pixelarticons:mail" class="w-8" />
                    </div>
                    <div>
                        <div class="font-bold mb-2">Playground for innovation</div>
                        <div class="text-gray-300 text-sm">At Decode, you'll find a canvas of limitless possibilities. Your challenges can be as creative and ambitious as you imagine.</div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>