---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<html lang="en" class="selection:bg-primary selection:text-gray-950 scroll-smooth">
    <head>
        <BaseHead />
    </head>
    <body class="bg-gray-950 text-white overflow-x-hidden">
        <Header />
        <slot />
        <Footer />

        <script defer src="//embed.typeform.com/next/embed.js"></script>
        <script>sal();</script>
    </body>
</html>
