---
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en" class="selection:bg-teal-500 selection:text-gray-950#">
    <head>
        <BaseHead />
    </head>
    <body class="bg-gray-950">
        <slot />
    </body>
</html>
