---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import CookieBanner from "../components/CookieBanner.astro";
---

<html lang="en" class="selection:bg-primary selection:text-gray-950 scroll-smooth">
    <head>
        <BaseHead />
    </head>
    <body class="overflow-x-hidden text-white bg-gray-950">
        <Header />
        <slot />
        <Footer />
        <script>sal();</script>
        <!-- Triend Widget Script -->
        <script type="text/javascript" src="https://plugin.triend.io/static/js/main.js?v=0.5" triendKey="67890" companyUid="a1836821-5f22-45be-ac93-8a5d0c9427d5"></script>
    </body>
    <CookieBanner />
</html>
